# name: Node.js CI

# on:
  
  
#   push:
#     paths:
#       - '**/*.js'      # Run only when JS files change
#       - 'docs/**'
#     branches:
#       - main



# jobs:
#   build:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout repository
#         uses: actions/checkout@v3

#       - name: Set up Node.js
#         uses: actions/setup-node@v3
#         with:
#           node-version: '18'

#       - name: Install dependencies
#         run: npm install


#   notify:
#     needs: build
#     runs-on: ubuntu-latest
#     container: node:14
#     steps:
#       - name: Notify on Issue or Label Event
#         if: github.event_name == 'issues' || github.event_name == 'label'
#         run: echo "An issue or label event occurred."

#       - name: Notify on Page Build
#         if: github.event_name == 'page_build'
#         run: echo "Page build completed."
#       - uses : actions/checkout@v2
#       - run : npm install 
#       - name: Start Server (Runs in Background)
#         run: node app.js &
#       - name: Stop Server (If Still Running)
#         run: pkill -f "node app.js" || true


# using second command in this apge this command is schedule that try to run workflow on time that youwant to setting in this schedule 
on:
  schedule:
    - cron: '52 10 * * *'  # Runs at 16:10 UTC every day

jobs:
  test_schedule:
    runs-on: ubuntu-latest

    steps:
      - name: Echo message
        run: echo "Good noon sir, how can I help you?"
